.gradle/
build/
local.properties
*.iml
.idea/
captures/
externalNativeBuild/
.cxx/
_reference/Wholphin/
_reference/Findroid/
companion-plugin/**/bin/
companion-plugin/**/obj/
companion-plugin/artifacts/
